{% extends 'base.html.twig' %}
{% block title %}AInstagram - home{% endblock %}

{% block body %}

<div class="container-sm d-flex justify-content-center">
	<div class="border wrapper">
		<h1 class="text-center">Upload</h1>
		{{ form(form) }}
	</div>
</div>

{% endblock %}
