@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Josefin+Sans:wght@500;600;700&family=Jost:wght@600;700&display=swap');

body {
	margin: 0;
	background: #eee !important;
	height: 100vh;
	margin-top: 65px !important;
}
#loader {
	width: 100vw;
	height: 100%;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #eee;
	opacity: 1;
	transition: .6s;
}
#loader .loader_wrapper {
	animation: loader 1s infinite linear forwards;
}
@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
:root {
	font-weight: 500;
}
.navbar {
	position: fixed !important;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
}
.dot {
	position: absolute;
	z-index: 2;
	background-image: url("../images/pattern.png");
	background-repeat: repeat;
	background-attachment: scroll;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: .5;
}
.image {
	width: 100%;
	height: 100%;
	object-fit: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
}
.logo {
	//font-family: 'Caveat', cursive;
	//font-family: 'Josefin Sans', sans-serif;
	font-family: 'Jost', sans-serif;
	font-weight: bold;
}
.card {
	margin: 10px;
}
.wrapper {
	border-radius: 10px;
	padding: 20px;
	background: #fff;
	width: 35%;
	margin-top: 50px;
	margin-bottom: 50px;
	border-color: #bbb !important;
}
.content_wrapper {
	width: 924px !important;
}
.content_wrapper:nth-child(1) {
  
}
.carousel-item {
	height: 600px;
	background: rebeccapurple;
	color: #eee;
}
.avatar {
	width: 150px;
	height: 150px;
	border-radius: 100%;
	overflow: hidden;
	position: relative;
	box-shadow: 0 0 30px rgba(0, 0, 0, .25);
	margin: 20px;
	margin-top: 40px;
}
.avatar img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.nickname {
	font-weight: 600;
}
.description {
	width: 300px;
	text-align: center;
	line-height: 20px;
	margin-bottom: 30px;
}

.generated_image_wrapper {
	position: relative;
}
.generated_image {
	width: 100%;
	height: auto;
}
.generate_loading_text {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.generate_loading_text[data-hidden="true"] {
	display: none;
}
.generate_loading_text[data-hidden="false"] {
	display: flex;
}
.generate_loading {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}
.generate_loading[data-hidden="true"] {
	display: none;
}
.generate_loading[data-hidden="false"] {
	display: flex;
}
.generate_loading svg {
	animation: loader 1s infinite forwards linear;
}

@media screen and (max-width: 989px) {
	.wrapper {
		width: 60%;
	}
}
@media screen and (max-width: 576px) {
	.wrapper {
		width: 100%;
	}
}

.image_preview_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.image_preview_wrapper[data-hidden="false"] {
	display: flex;
}
.image_preview_wrapper[data-hidden="true"] {
	display: none;
}
.image_preview {
	width: 100%;
	position: relative;
	height: auto;
}